:root {
    --color-primary: #7ED957;
    --bg-primary: var(--color-primary)
}
html,body{
    font-size: 1.125rem;
}
.m-bg-primary {
    background-color: var(--bg-primary);
}

.m-bg-secondary {
    background-color: #E5E5E5;
}

.bg-custom {
    background-color: #7ED957;
}

h1 {
    text-align: center;
}

.dflex {
    display: flex;
}

.div {
    text-align: left;
}

.my-container {
    border: 0%;
    margin: 0%;
}
.carousel-item1{
    width: auto;
    height: 100px;
    background-color: white;
}
.carousel-main img{
    height: 387px !important;
    object-fit: fill;
    overflow-y: hidden !important;
}
.m-bg-caption{
    background-color: #7ad957cc;
}
.main{
    color: black;
    text-align: center;
}
.footer{
    
    background-color: #7ED957

}
.m-container{    
    padding: 10px;
    margin-top: 25px;
    border-radius: 25px;
}
@media only screen and (min-width:768px) {
    .m-container{
        width: 428px;
        height: 435px;
        padding: 10px;
        margin-top: 25px;
        border-radius: 25px;
    }
    
}
.m-container-view{
    background-color: white;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
        }

.active {
    color: #fff !important;
}
.m-border-radius{
    border-radius: 10px;
}
.m-height{
    height: 330px;
}
.body-view{
    background-color: #dee2e6;
}
.simmilar-gadget-height, .simmilar-gadget-height img{
    max-height: 350px;
}